@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: lightskyblue;
}

header {
    background-color: darkblue;
}

header h1 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 3em;
}

i#burguer {
    background-color: rgb(0, 0, 19);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 74);
    border-top: 3px solid rgb(99, 99, 99);
}

menu > ul > li > a:hover {
    background-color: darkblue;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
}

article > h2 {
    padding-bottom: 25px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
}