@charset "UTF-8";

/* Declarações gerais */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 166, 247);
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #000000;
    padding: 10px;
}

/* Declaração retrato */
@media screen and (orientation: portrait) {
    body {
        background: url(../imagens/cev-portrait.jpg) no-repeat;
        background-position: center bottom;
    }
}

/* Declaração paisagem */
@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}