@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #f3a676);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8d6d5a91;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #885103;
}

h2 {
    color: #5b72f5;
}

p {
    text-align: justify;
}